<b>Exercicio</b>
4. Nesta etapa quero que vc crie um novo dataframe, uma variavel, ela só poderá ter pessoas do sexo masculino e que tenham mais que 35 anos de idade.

In [2]:
# Importando a biblioteca pandas
import pandas as pd

# Passando o valor do arquivo para uma variavel
titanic_data = pd.read_csv('titanic.csv')

# Criando um novo dataframe com algumas regras de exibição
new_titanic_data = titanic_data.loc[(titanic_data.Sex == 'male') & (titanic_data.Age > 35)]

# Exibindo o novo dataframe
print(new_titanic_data)

     PassengerId  Survived  Pclass                            Name   Sex  \
6              7         0       1         McCarthy, Mr. Timothy J  male
13            14         0       3     Andersson, Mr. Anders Johan  male
30            31         0       1        Uruchurtu, Don. Manuel E  male
33            34         0       2           Wheadon, Mr. Edward H  male
35            36         0       1  Holverson, Mr. Alexander Oskar  male
..           ...       ...     ...                             ...   ...
845          846         0       3             Abbing, Mr. Anthony  male
851          852         0       3             Svensson, Mr. Johan  male
857          858         1       1          Daly, Mr. Peter Denis   male
860          861         0       3         Hansen, Mr. Claus Peter  male
873          874         0       3     Vander Cruyssen, Mr. Victor  male

      Age  SibSp  Parch      Ticket     Fare Cabin Embarked
6    54.0      0      0       17463  51.8625   E46        S
13   39.0      1      5      347082  31.2750   NaN        S
30   40.0      0      0    PC 17601  27.7208   NaN        C
33   66.0      0      0  C.A. 24579  10.5000   NaN        S
35   42.0      1      0      113789  52.0000   NaN        S
..    ...    ...    ...         ...      ...   ...      ...
845  42.0      0      0   C.A. 5547   7.5500   NaN        S
851  74.0      0      0      347060   7.7750   NaN        S
857  51.0      0      0      113055  26.5500   E17        S
860  41.0      2      0      350026  14.1083   NaN        S
873  47.0      0      0      345765   9.0000   NaN        S

[144 rows x 12 columns]